{
  "extends": [
    "standard",
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier",
    "standard"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": "error"
  }
}